#############################################
# CONFIGURATION DE BASE
#############################################

# Charge les intégrations par défaut
default_config:


#############################################
# INFLUXDB (v2)
#############################################

influxdb:
  api_version: 2
  host: 192.168.1.133
  port: 8086
  token: hNAZiuhB7nriO3-x60W-t_FaVUho7jQ71j4Pp2y2fuW080sJHwpsNiA7y0tnDo3x6nMi6mRztL307LycszP3DA==
  organization: MaisonRussy
  bucket: Homeassistant
  ssl: false
  default_measurement: state
  include:
    entities:
      - sensor.stiebel_eltron_isg_actual_temperature_hk_1
      - sensor.stiebel_eltron_isg_actual_temperature_hk_2
      - sensor.stiebel_eltron_isg_actual_temperature_water
      - sensor.stiebel_eltron_isg_flow_temperature_wp1
      - sensor.stiebel_eltron_isg_high_pressure_wp1
      - sensor.stiebel_eltron_isg_hot_gas_temperature_wp1
      - sensor.stiebel_eltron_isg_low_pressure_wp1
      - sensor.stiebel_eltron_isg_outdoor_temperature
      - sensor.stiebel_eltron_isg_target_temperature_buffer
      - sensor.stiebel_eltron_isg_target_temperature_water
      - sensor.stiebel_eltron_isg_volume_stream_wp1
      - sensor.askoheat_power
      - sensor.ce_boiler_power
      - sensor.ce_boiler_energy
      - sensor.askoheat_power
      - sensor.go_echarger_405603_nrg_12
      - sensor.go_echarger_405603_nrg_2
      - sensor.go_echarger_405603_nrg_3
      - sensor.go_echarger_405603_nrg_4
      - sensor.go_echarger_405603_nrg_5
      - sensor.go_echarger_405603_nrg_6
      - sensor.go_echarger_405603_nrg_7
      - sensor.go_echarger_405603_tma
      - sensor.go_echarger_405603_tma_2
      - sensor.go_echarger_405603_wh
      - sensor.smart_meter_ts_65a_3_energie_reelle_consommee
      - sensor.smart_meter_ts_65a_3_energie_reelle_produite
      - sensor.smart_meter_ts_65a_3_puissance_reelle
      - sensor.symo_15_0_3_m_1_ac_power
      - sensor.symo_15_0_3_m_1_courant_alternatif
      - sensor.symo_15_0_3_m_1_courant_continu
      - sensor.symo_15_0_3_m_1_energie_totale
      - sensor.symo_15_0_3_m_1_energy_day
      - sensor.symo_15_0_3_m_1_energy_year
      #Lave-linge
      - sensor.swiss_domotique_plug_8f8330_power
      #Sèche-linge
      - sensor.swiss_domotique_plug_8f85f3_power
      #TV-Box Haut
      - sensor.swiss_domotique_plug_574f67_power


#############################################
# INPUT_NUMBER
# Puissance simulée pilotée par Node-RED
#############################################

input_number:
  ce_boiler_power_simulated:
    name: "CE Boiler Power Simulated"
    min: 0
    max: 6000
    step: 100
    unit_of_measurement: "W"


#############################################
# TEMPLATE SENSORS
#############################################

template:
  - sensor:

      # Capteur de puissance CE-Boiler (W)
      - name: "CE Boiler Power"
        unique_id: ce_boiler_power
        unit_of_measurement: "W"
        device_class: power
        state_class: measurement
        state: >
          {{ states('input_number.ce_boiler_power_simulated') | float(0) }}

      # Tarif électrique selon l'heure
      - name: "Tarif_double_electrique"
        unit_of_measurement: "CHF/kWh"
        state: >
          {% set h = now().hour %}
          {% if h >= 23 or h < 7 %}
            0.22
          {% elif h >= 12 and h < 17 %}
            0.22
          {% else %}
            0.31
          {% endif %}


#############################################
# SENSORS CLASSIQUES
#############################################

sensor:

  # Puissance instantanée ASKOHEAT (W)
  - platform: rest
    name: "ASKOHEAT Power"
    resource: "http://192.168.1.108/STATUS.JSON"
    value_template: >
      {{ value_json.ACTUAL_VALUES.ACTUAL_HEATER_LOAD_WATTS.split(' ')[0] | float }}
    unit_of_measurement: "W"
    scan_interval: 10

  # Énergie ASKOHEAT (kWh) - intégration de Riemann
  - platform: integration
    name: "ASKOHEAT Energy"
    source: sensor.askoheat_power
    unit_prefix: k
    round: 2

  # Énergie CE-Boiler simulée (kWh) - intégration de Riemann
  - platform: integration
    name: "CE Boiler Energy"
    source: sensor.ce_boiler_power
    unit_prefix: k
    round: 2


#############################################
# COMPTEURS ÉNERGÉTIQUES (UTILITY METER)
#############################################

utility_meter:

  # Consommation journalière
  energy_daily:
    source: sensor.smart_meter_ts_65a_3_energie_reelle_consommee
    cycle: daily
    tariffs:
      - peak
      - offpeak

  # Consommation mensuelle
  energy_monthly:
    source: sensor.smart_meter_ts_65a_3_energie_reelle_consommee
    cycle: monthly
    tariffs:
      - peak
      - offpeak

  # Consommation trimestrielle
  energy_quarterly:
    source: sensor.smart_meter_ts_65a_3_energie_reelle_consommee
    cycle: quarterly
    tariffs:
      - peak
      - offpeak

  # Consommation annuelle
  energy_yearly:
    source: sensor.smart_meter_ts_65a_3_energie_reelle_consommee
    cycle: yearly
    tariffs:
      - peak
      - offpeak


#############################################
# INTERFACE & AUTOMATISATIONS
#############################################

frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
